.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white; /* צבע רקע לנאב */
}

.nav div {
    margin-right: 20px; /* רווח בין הסוגים */
}

.popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000; /* לוודא שהפופאפ מעל לתוכן אחר */
}
