.light {
  background-color: white; /* Light theme background */
  color: black; /* Light theme text color */
}

.dark {
  background-color: black; /* Dark theme background */
  color: white; /* Dark theme text color */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: rgb(6, 6, 6);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.navbar-center {
  flex-grow: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 5vw;
}

.nav-links li {
  margin: 0 5px;
}

.nav-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: inherit; /* Inherit color from parent */
}

.nav-links a p {
  margin-right: 5px; /* Space between icon and text */
}

.nav-links a:hover {
  color: #4b297d; /* Change color on hover */
}

.navbar-left .logo {
  font-weight: bold;
}

#conect {
  margin-right: 40vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5vw;
  justify-content: space-between;
  gap: 5px;
}

/* Additional styles for the theme toggle button */
button {
  margin-top: 10px;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 35vw;
}
